* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}
a{
    text-decoration: none;
    color: #4A4A4A;
}
.content {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 10px;
    margin: 0 auto;
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
}
p, h1, h2, h3{
    margin: 25px 10px;
}
nav{
    margin-bottom: 20px;
}
nav ul {
    list-style: none;
}
nav li {
    background-color: #FFFFFF;
    padding: 10px;
    font-weight: 900;
}
.about {
    background-color: #FAFAFA;
}
.about img {
    max-width: 60%;
}
img {
    width: 360px;
    max-width: 90%;
    
}
address a {
    text-decoration: none;
    color: black;
}
footer {
    /* margin: 0; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 900;
}
footer nav {
    display: none;
}

@media screen and (min-width: 768px) {

    .content {
        width: 768px;
    }
    
    nav li {
        display: inline;
    }
    .about {
        display: flex;
        flex-direction: row-reverse;
    }
    .about p {
        margin-top: 0;
        font-size: 1.2rem;
        text-align: left;
    }
    .portfolio-group {
        display: flex;
        flex-wrap: wrap;
    }
    .portfolio-item {
        
        width:360px
    }
    .contact-info p {
        padding: 0 100px;
    }
    footer {
        display: flex;
        align-items: center;
    }
    footer #backtotop {
        display: none;
    }
    footer nav {
        display: inline;
    }
    footer p {
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {

    .content {
        width: 1024px;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav{
        margin: 25px;
    }
    nav li {
        display: inline;
    }
    .about {
        display: flex;
        flex-direction: row-reverse;
    }
    .about p {
        margin-top: 0;
        font-size: 1.2rem;
        text-align: left;
    }
    .portfolio-group {
        display: flex;
        flex-wrap: wrap;
    }
    .portfolio-item {
        
        width:330px
    }
    .contact-info p {
        padding: 0 100px;
    }
    footer #backtotop {
        display: none;
    }
    footer nav {
        display: inline;
    }

}